<header>
	<nav class="navbar navbar-default navbar-main {{ theme_navbar_classes }}" role="navigation">
		<div class="{{ theme_navbar_flow  }}">
			<div class="float">
				<div class="navbar-header">
					{% include "templates/includes/navbar/navbar_brand.html" %}
					<div class="dropdown">
						<button class="btn btn-default navbar-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<i class="octicon octicon-three-bars"></i>
						</button>
						{% include "templates/includes/navbar/dropdown_items.html" %}
					</div>
				</div>
				<div class="navbar-item-container hidden-xs {{ theme_navbar_location }}">
					{% block navbar_items %}
						{% include "templates/includes/navbar/navbar_frappe_items.html" %}
					{% endblock %}
				</div>
			</div>
		</div>
	</nav>
</header>
