<header>
	<nav class="navbar navbar-type-std navbar-default navbar-main {{ theme_navbar_classes }}" role="navigation">
		<div class="{{ theme_navbar_flow  }}">
			<div class="float">
				<div class="navbar-header">
					{% if theme_navbar_inlined %}
					<span class="mobile-brand hidden-sm hidden-lg hidden-md hidden-lg visible-xs">
					{% endif %}
						{% include "templates/includes/navbar/navbar_brand.html" %}
					{% if theme_navbar_inlined %}
					</span>
					{% endif %}
					<div class="dropdown">
						<button class="btn btn-default navbar-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<i class="octicon octicon-three-bars"></i>
						</button>
						{% include "templates/includes/navbar/std_dropdown_items.html" %}
					</div>
				</div>
				<div class="hidden-xs">
					{% block navbar_items %}
					{% if theme_navbar_inlined %}
						{% include "templates/includes/navbar/navbar_std_items_with_brand.html" %}
					{% else %}
						{% include "templates/includes/navbar/navbar_std_items.html" %}
					{% endif %}
					{% endblock %}
				</div>
			</div>
		</div>
	</nav>
</header>
