<!DOCTYPE html>
<!-- Built by DigiThinkIT, Inc. https://digithinkit.com/ for Frappe https://frappe.io/ -->
<html lang="en">
<head>
	{# THEME DOCUMENTATION

	# BANNER CONTROLS ######################

	@var string theme_sideshow_placement options

	Controls the placement of the banner. Options are:
	 	navbar_under: place slideshow outside of page content under navbar
		page_content: place slideshow inside page content at the top


	# PAGE FLOW CONTROLS ##################

	All flow controls work the same way. They are driven with the bootstrap
	container or container-flow classes to change width contraints
	
	Use one of the bootstrap container classes contraint or auto size on
	any of the flow variables:

		container: Fixed width container with mobile support
		container-flow: Variable width container

	Variables:

	@var theme_page_flow		- Controls page content flow
	@var theme_banner_flow		- Controls banner content flow
	@var theme_navbar_flow		- Controls navbar content flow
	@var theme_navbar_under_flow	- Controls content flow under navbar

	@ LAYOUT CONTROLS ####################

	To control content column layout you can set theme_page_layout to the following values:

		one		- One column layout only main content
		two-left	- Two column layout with left sidebar
		two-right	- Two column layout with right sidebar
		three		- Three column layout with left and right sidebar

	When the builtin show_sidebar flag is available the template will add it to the left or
	right columns if available, defaulting to the left column if only one or three columns are
	enabled.

	To control the default placement of the sidebar when three columns are available set
	the theme_default_sidebar_layout to either "two-left" or "two-right". This will also
	force that column to appear when a sidebar is required but only one column layout is
	being used globabaly.

	You can turn off the automatic placement of the sidebar by setting theme_auto_sidebar_placement
	to false. You then must render the sidebar yourself by overriding the appropriate block.
	
	#}

	{% set theme_push_footer_bottom = theme_push_footer_bottom | default(false) %}
	{% set theme_fullscreen_slider = theme_fullscreen_slider | default(false) %}
	{% set theme_slider_placement = theme_slider_placement | default("navbar_under") %}

	{% set theme_banner_flow = theme_banner_flow | default("container") %}
	{% set theme_page_flow = theme_page_flow | default("container") %}
	{% set theme_navbar_flow = theme_navbar_flow | default("container") %}
	{% set theme_navbar_under_flow = theme_navbar_under_flow | default("container") %}

	{% set theme_page_layout = theme_page_layout | default("one") %}
	{% set theme_default_sidebar_layout = theme_default_sidebar_layout | default("two-left") %}
	{% set theme_auto_sidebar_placement = theme_auto_sidebar_placement | default(true) %}
	{% set theme_navbar_fixed_top = theme_navbar_fixed_top | default(false) %}
	{% set theme_navbar_inlined = theme_navbar_inlined | default(false) %}
	{% set theme_navbar_type = theme_navbar_type if theme_navbar_type != None else "Frappe" %}
	{% set theme_navbar_location = theme_navbar_location | default("navbar-loc-left") %}

	{% set theme_navbar_open_on_hover = theme_navbar_open_on_hover | default(1) %}

	{% set slideshow_delay_interval = slideshow_delay_interval | default(10000) %}

	{% set theme_navbar_type_ref = { "Frappe": "", "Standard": "_std" } %}
	
	{% set theme_navbar_classes = theme_navbar_classes | default("") %}

	{% if theme_navbar_fixed_top %}
		{% set theme_navbar_classes = theme_navbar_classes + " navbar-fixed-top" %}
	{% endif %}

	{% if theme_navbar_inlined %}
		{% set theme_navbar_classes = theme_navbar_classes + " navbar-inlined-brand" %}
	{% endif %}

	{# automatically place frappe account sidebar depending on which column is available and placement preference #}
	{% if show_sidebar and theme_auto_sidebar_placement %}
		{% if theme_page_layout == "one" %}
			{% set theme_page_layout = theme_default_sidebar_layout %}
		{% endif %}
		{% if theme_page_layout == "two-left"%}
			{% set theme_column_left_includes = [ "templates/includes/web_sidebar.html" ] + theme_column_left_includes|default([]) %}
		{% elif theme_page_layout == "two-right" %}
			{% set theme_column_right_includes = [ "templates/includes/web_sidebar.html" ] + theme_column_right_includes|default([]) %}
		{% elif theme_page_layout == "three" %}
			{% if theme_default_sidebar_layout == "two-left" %}
				{% set theme_column_left_includes = [ "templates/includes/web_sidebar.html" ] + theme_column_left_includes|default([]) %}
			{% elif theme_default_sidebar_layout == "two-right" %}
				{% set theme_column_right_includes = [ "templates/includes/web_sidebar.html" ] + theme_column_right_includes|default([]) %}
			{% endif %}
		{% endif %}
	{% endif %}

	{% set theme_column_left_includes = theme_column_left_includes|default([]) %}
	{% set theme_column_right_includes = theme_column_right_includes|default([]) %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %} {{ title | striptags }} {% endblock %}</title>
	<meta name="generator" content="frappe">

	{% block favicon %}
		<link rel="shortcut icon"
			href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
			type="image/x-icon">
		<link rel="icon"
			href="{{ (favicon or "/assets/frappe/images/favicon.png") | abs_url }}"
			type="image/x-icon">
	{% endblock %}

	{%- block head -%}
		{% if meta_block is defined -%}
			{{ meta_block }}
		{%- endif %}

		{% if head_html is defined -%}
			{{ head_html or "" }}
		{%- endif %}

		{%- for link in web_include_css %}
			{% if link == "website_theme.css" %}
				{% set link = "/theme/page/"+name|default("starter")+".css" %}
			{% endif %}
			<link type="text/css" rel="stylesheet" href="{{ link|abs_url }}">
		{%- endfor -%}

	    {%- block head_include %}{{ head_include or "" }}{% endblock -%}

		{%- block style %}{%- endblock -%}
	{%- endblock -%}

	<script>
		window.frappe = {
		page_ready_events: {},
			ready: function(fn) {
				if (!frappe.page_ready_events[location.pathname]) {
					frappe.page_ready_events[location.pathname] = []
				}
				frappe.page_ready_events[location.pathname].push(fn);
			}
		}
		window.dev_server = {{ dev_server }};
	</script>
</head>
<body data-path="{{ path }}" class="{% if theme_navbar_fixed_top %}has-navbar-fixed-top{% endif %}{% if slideshow and slides|length > 0 %} has-slides{% if theme_slider_placement == 'navbar_under' %} has-slides-navbar-under{% endif %}{% endif %}">
<div id="body-wrap">
	{% block banner scoped %}
		{% include "templates/includes/banner_extension.html" ignore missing %}
		{% if banner_html -%}
			<header><div class="{{ theme_banner_flow }}">{{ banner_html or "" }}</div></header>
		{%- endif %}
	{% endblock %}
	<!-- Navigation {{ theme_navbar_type_ref[theme_navbar_type|default("Frappe")] }}-->
	{% block navbar scoped %}
			<!-- navbar{{ theme_navbar_type_ref[theme_navbar_type|default("Frappe")] }} -->
			{% include "templates/includes/navbar/navbar"+theme_navbar_type_ref[theme_navbar_type|default("Frappe")]+".html" with context %}
	{% endblock %}

	{% block navbar_under scoped %}
	<div class="navbar-under-container">
		<div class="navbar-under {{ theme_navbar_under_flow }} {% if slideshow and slides|length > 0 %}has-slides{% endif %}">
			{% if theme_slider_placement == 'navbar_under' %}
				{% include "templates/includes/slideshow.html" %}
			{% endif %}
		</div>
	</div>
	{% endblock %}

	{% block main_section %}
	<div class="main-section">
			<div class="hero-and-content">
				<div data-html-block="hero">
					{%- block hero -%}{%- endblock -%}
				</div>
				<div class="{{ theme_page_flow }}" id="page-{{ name or route }}"
					data-path="{{ pathname }}" 
					data-html-block="content" {% if page_or_generator=="Generator" %}
					data-doctype="{{ doctype }}"{% endif %}>
					
					{% block content %}{% endblock %}
				</div>
			</div>
			{%- if footer is defined -%}
			<footer class="page-footer">
				<div class="{{ theme_page_flow }}">
					{{ footer }}
				</div>
			</footer>
			{%- endif -%}
	</div>
	{% endblock main_section %}
	<div id="body-push"></div>
</div>

	{%- block footer scoped -%}{% include "templates/includes/footer/footer.html" %}{%- endblock -%}

	<!-- js should be loaded in body! -->
	<script type="text/javascript"
		src="/assets/frappe/js/lib/jquery/jquery.min.js"></script>
	<script type="text/javascript"
		src="/assets/js/frappe-web.min.js"></script>

{%- if js_globals is defined %}
	<script>
	{%- for key, value in js_globals.iteritems() %}
		window.{{ key }} = "{{ value[0] }}";
	{%- endfor -%}
	</script>
{% endif -%}

{%- for link in web_include_js %}
	<script type="text/javascript" src="{{ link|abs_url }}"></script>
{%- endfor -%}

	{%- block script %}{%- endblock %}
        <script>

        $(function() {
            /* Nice scrolling */
	    /*
            $("html").niceScroll({
                scrollspeed: {{ theme_scroll_speed | default(60) }},
                mousescrollstep: {{ theme_mouse_scroll_step | default(45) }},
                hwacceleration: true,
                bouncescroll: true
            });
            */
        });

		/* Nav shrink behaviour */
		$(window).scroll(function() {
		  if ($(document).scrollTop() > 50) {
		    $('nav').addClass('shrink');
		  } else {
		    $('nav').removeClass('shrink');
		  }
		});

		/* Slider animation handling */
		function doAnimations(el) {
			el.each(function() {
				var $this = $(this);
				$.each($this.attr('class').toString().split(' '), function(k, v) {
					if ( v.substring(0, 9) == "animated-" ) {
						var cls = "animated " + v.substring(9);
						$this.addClass(cls).one("webkitAnimationEnd animationend", 
							function() {
								$this.removeClass(cls)
							});
					}
				});
			});

		}


		$('#the-carousel').on('slide.bs.carousel', function(e) {
			var $el = $(e.relatedTarget).find('*[class*="animated-"]');
			doAnimations($el);
		});	

		doAnimations($('.carousel-inner .item:first *[class*="animated-"]'));

		{% if theme_navbar_open_on_hover %}
		/* menu hover behaviour */
		$('ul.nav li.dropdown').hover(function() {
		  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
		}, function() {
		  $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
		});
		{% endif %}
	</script>

	<!-- csrf_token -->

	{%- block body_include %}{{ body_include or "" }}{% endblock -%}
</body>
</html>
