.navbar {
	background-color: {{ theme.top_bar_color }};
	background-repeat: repeat-x;
	background-image: none;
	border: none;
	border-bottom: 1px solid {{ get_shade(theme.top_bar_color, 10) }};
	height: 75px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 100000;
}

.navbar.shrink {
	background-color: {{ theme.get('top_bar_color_shrink', theme.top_bar_color) }};
	height: 40px;
}

.navbar .container, .navbar .container-flow {
	position: relative;
	height: 100%;
	padding: 0 15px;
}

.navbar .float {
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-toggle i {
	color: {{ theme.top_bar_text_color }};
}
.navbar.shrink .navbar-toggle i {
	color: {{ theme.get('top_bar_text_color_shrink', theme.top_bar_text_color) }};
}
.navbar-toggle {
	border-color: {{ theme.top_bar_text_color }};
}
.navbar.shrink .navbar-toggle {
	border-color: {{ theme.get('top_bar_text_color_shrink', theme.top_bar_text_color) }};
}

.navbar .navbar-text,
.navbar .navbar-brand,
.navbar .navbar-link,
.navbar .nav > li > a {
	color: {{ theme.top_bar_text_color }};
	text-shadow: none;
}
.navbar.shrink .navbar-text,
.navbar.shrink .navbar-brand,
.navbar.shrink .navbar-link,
.navbar.shrink .nav > li > a {
	color: {{ theme.get('top_bar_text_color_shrink', theme.top_bar_text_color) }};
}

/* navbar links */
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:active,
.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus,
.navbar .nav .active > a:active,
.navbar .navbar-link:hover,
.navbar .navbar-link:focus,
.navbar .navbar-link:active,
.navbar .nav > li > a:hover,
.navbar .nav > li > a:focus,
.navbar .nav > li > a:active,
.navbar .nav > .open > a,
.navbar .nav > .open > a:hover,
.navbar .nav > .open > a:focus,
.navbar .nav > .open > a:active {
	color: {{ get_shade(theme.top_bar_text_color, 15) }};
	background-color: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.navbar.shrink .nav > li > a {
	color: {{ get_shade(theme.get('top_bar_text_color_shrink', theme.top_bar_text_color), 15) }};
}

.navbar-fixed-top,
.navbar-static-top {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;

}

.navbar-toggle {
}

.navbar-collapse {
	border-radius: 0px;
}

/* navbar brand */
.navbar-brand {
	padding-right: 30px;
	max-width: 80%;
	min-height: 20px;
	height: auto;
}
.navbar > .container .navbar-brand {
	margin-left: 0px;
}
nav.navbar.navbar-inlined-brand > .container .inlined-brand .navbar-brand {
	margin-left: 0px;
}

@media (max-width: 767px) {
	.navbar .toggle-sidebar {
		padding: 10px 15px;
	}
}

@media (min-width: 768px) {
	.navbar-brand {
		max-width: 300px;
	}
}

/* navbar dropdowns */
.navbar .dropdown.logged-in .avatar {
	margin: 0px;
}

.nav .dropdown.logged-in .full-name {
	line-height: 22px;
}

.nav .dropdown-menu > li > a {
	padding: {{ theme_navbar_dropdown_item_padding | default('14px') }};
}

.nav .dropdown-menu {
	min-width: 200px;
	padding: 0px;
	font-size: 85%;

	// only rounded bottoms
	border-radius: 0px 0px 4px 4px;
}

.nav .dropdown-menu .divider {
	margin: 0px;
}

.nav .dropdown-menu {
	background-color: {{ theme_navbar_dropdown_color | default('#fff') }};
	{% if theme_navbar_dropdown_border | default(false) %}
		border: {{ theme_navbar_dropdown_border }};
	{% endif %}
}

.nav .dropdown-menu > li > a {
	color: {{ theme_navbar_dropdown_text_color | default('#333') }};
	background-color: {{ theme_navbar_dropdown_color_hover | default('#f0f4f7') }};
}

.nav .dropdown-menu > li > a:hover {
	color: {{ theme_navbar_dropdown_text_color_hover | default('#333') }};
}

.navbar-left.navbar-loc-left {
}
.navbar-left.navbar-loc-center {
	float: none !important;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.navbar-left.navbar-loc-right {
	float: none !important;
	display: inline-block
}

.navbar .navbar-item-container.navbar-loc-right {
	float: right;
}
.navbar .navbar-item-container.navbar-loc-right .navbar-right {
	float: inherit !important;
}
.navbar-nav > li {
}

.navbar-toggle {
	padding: .4em .8em;
}

.navbar-item-container {
	margin-right: 30px;
}

.navbar-right {
	margin-right: 0px;
}

.navbar-type-std .navbar-right {
	margin-right: 30px;
}
