{% extends "templates/web.html" %}

{% block title %}
	{{ _("Payment Cancelled") }}
{% endblock %}

{%- block page_content -%}
	<div class="container">
		<h2>{{ _("Payment Cancelled") }}</h2>
		<p>{{ _("You have cancelled the payment") }}</p>
		<br>
		<a class="btn-continue" href="/">Back to home page</a>
	</div>

	<style type="text/css">
	.btn-continue {
	    color: #ffffff;
	    font-family: oswald;
	    border-radius: .1em;
	    background-color: #292929;
	    font-size: 1.5em;
	    border: none;
	    padding: .3em 1em;
	    vertical-align: text-bottom;
	    margin: .3em 0;
	}
	</style>

{% endblock %}
